

 .header-color{
/*background: #0F2027; 
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
     */
     background: #40E0D0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* Landingpage start here */
.landing-grid{
    /* background: #00B4DB;  
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);  */
    background: #40E0D0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.col-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;



}
/* .img_container{
    height: 50%;
} */
.avatar-img{

    height: 12rem;
    width: 12rem;
    margin-top: 4rem;
    border-radius: 100%;  
    margin-bottom: 1rem;

}

.header-box{
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.281);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.486);
    border-radius: 10px;
    width: fit-content;
    padding: 0 3rem;
    

    
}
.header-title{
    font-weight: bold;
    color: white;
    font-size: 2.3rem;
    padding: 0 3.5rem;
}
.header-hr{
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}
.header-list{
    list-style: none;
    display: flex;
     width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem;
   
    
}
/* .header-item{
    padding: 0rem 3rem;
    

} */
.header-skills{
    color: white;
    font-size: 1.5rem;
    margin: 2rem 0;
}
.header-link{
    text-decoration: none;
    font-size: 4rem;
    color: rgba(5, 2, 2, 0.897) ;

}
.header-link:hover{
   color: white;
}
/* Landing page finis here */
/* about start here */
.grid-about{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.534) ;
    background-color: #27221F;
   
}

 .about-desc{
    width: 50%;
    padding:3rem 2rem; 
    font-style:'Anton';
    color: white;
    text-align: justify;
    
    
} 
.about-img{
    width:20rem;
    height: 27rem;
    border-radius: 15px;

 
 }
/* about finish here */

/* project content start here */
.project-content{
    display: flex;
    justify-content: center;
    

}
.project-card{
    margin:  2rem;
}
/* project content Finish  here */

/* Contact page start here */
.contact-container{
    margin:auto;
    /* background-color:  #0F2027; */
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2rem;
}
.contact-grid{
    text-align: center;
    width: 80%;
    height: 35rem;
    color: black;
    margin-bottom: 1.5rem;
 
}
.left-name{
    font-family: 'anton' , sans-serif;
  }
.letf-text{
    font-family: 'oxygen' , sans-serif;
    font-weight: bold;
  }
body hr {
border-top: 5px dotted black;
width: 50%;
margin: auto;
}
.contact-list i {
    font-size: 3rem;
    padding-right: 2rem;
}
/* contact page finish here */
/* resume  start here page */
.resume-right{
    background-color: #27221F;
    color: white;
    padding:2rem;
}

/* Responsive web design Mediaqueries */
@media (max-width:500px){
    .project-content{
        display: flex;
        flex-direction: column;
        
    
    }
    .project-card{
        margin: 1rem auto;
    }
    .avatar-img{

        height: 10rem;
        width: 10rem;
        margin-top: 3rem;
       
    
    }
    
    .header-box{
        width: 100%;
        text-align: center;
        margin: 1rem 2rem;
        padding: 2rem;
    
    }
    .header-title{
  
        font-size: 1.5rem;
        padding: 0 2rem;
    }
    .header-hr{
        border-top: 3.5px dotted white;
       
    }
    .header-list{
       
        padding: 0 2.5rem;
       
}}